*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-bg: #171717;
  --color-bg-variant: rgb(46, 43, 56);
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-primary: hsl(var(--primary-hue), 100%, 50%);
  --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);

  --color-white: #fff;
  --color--light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
  --transition-faster: all 100ms ease;

  --primary-hue: 210;
  --gray-hue: 240;
  --color-primary: hsl(var(--primary-hue), 100%, 50%);
  --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
  --color-secondary: #4db5ff;
  --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
  --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
  --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
  --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
  --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
  --color-gray-600: hsl(var(--gray-hue), 48%, 15%);
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  line-height: 1.7;
  overflow-x: hidden;
  background-color: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

.container-maxHeight {
  width: 60%;
  height: 60rem;
}

a {
  color: var(--color-gray-100);
}

img {
  display: block;
  object-fit: cover;
  height: auto;
  width: 100%;
  aspect-ratio: attr(width) / attr(height);
}

h1 {
  font-weight: bolder;
  font-size: 3.5rem;
  align-items: center;
  text-align: center;
}

section {
  margin-top: 4rem;
}

/* ============== Med Devices(ipad) ============== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ============== Small Devices(phone) ============== */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 3rem;
  }
}
